body {margin: 0; display: flex;}
#map {
    height: 100vh;
    width: 58vw;
}
#aside{
    width: 42vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#form{
    display: flex;
    flex-direction: column;
}
#form>button{
    margin: 4px;
}