body {margin: 0; display: flex;}
#map {
    height: 100vh;
    width: 100vw;
}
#form {
    position: relative;
}
#backButton {
    display: none;
}
#addButton {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 4px;
    top: 4px;
    background-color: #3F51B5;
}
#addSubButton {
    width: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
#addSubButton> button {
    display: none;
    margin: 4px;
    width: fit-content;
}
#addSubButton>button:nth-child(1){
    position: relative;
    top: 40vh;
}
#addSubButton>button:nth-child(2){
    position: relative;
    top: calc(40vh + 20px);
}
#backButton {
    position: absolute;
    left: 4px;
    bottom: 4px;
}
#addPanel{
    height: 100vh;
}
/*
#form{
    width: 42vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
#form button{
    margin: 4px;
    width: max-content;
    position: absolute;
}
#backButton{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
}
#addPanel{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#addButton{
    top: 40vh;
}
#editButton{
    top: calc(40vh + 50px);
}
#addSubButton{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#addSubButton button{
    display: none;
    position: relative;
}*/
